[gerrit]
	basePath = git
	serverId = dcc901dc-6c60-4600-995d-12341234
	canonicalWebUrl = http://192.168.0.100:8080/
[database]
	type = h2
	database = /home/gerrit/db/ReviewDB
[index]
	type = LUCENE
[auth]
	type = HTTP
	emailFormat = {0}@example.com
[receive]
	enableSignedPush = false
[sendemail]
	from = gerrit@example.com
	smtpServer = mail.example.com
	smtpPort = 25
	smtpUser = gerrit
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/java-8-openjdk-amd64/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8081/
[cache]
	directory = cache
